---
import Icon from "@components/primitives/icon/icon.astro";
import RenderBlock from "@components/utils/renderBlock.astro";

const { items, openFirst, singleOpen = false, ...rest } = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(rest).filter(([key]) => !key.startsWith("_"))
);

const accordionName = singleOpen ? `accordion-${crypto.randomUUID()}` : undefined;
---

<div class:list={["accordion"]} {...htmlAttributes}>
  {
    items.map((item: any, index: number) => {
      const isFirst = index === 0 && openFirst;

      return (
        <details class="item" open={isFirst} name={accordionName}>
          <summary class="title">
            <span class="text">{item.title}</span>
            <Icon name="chevron-up" size="none" />
          </summary>
          <div class="detail">
            <RenderBlock contentBlocks={item.contentBlocks} />
          </div>
        </details>
      );
    })
  }
</div>
