---
import SmartImage from "@components/elements/smart-image/smart-image.astro";
import MarkdownIt from "markdown-it";
const {
  text,
  authorName,
  authorDescription,
  alignX = "center",
  authorImage = "",
  class: className,
  ...restProps
} = Astro.props;

const htmlAttributes = Object.fromEntries(
  Object.entries(restProps).filter(([key]) => key !== "_component")
);

const md = MarkdownIt({ html: true });
const MarkdownText = text ? md.render(text) : "";
---

<blockquote class:list={["testimonial", `alignment-${alignX}`, className]} {...htmlAttributes}>
  <div class="quote">
    {text ? <Fragment set:html={MarkdownText} /> : <slot />}
  </div>
  <div class="author">
    {
      authorImage && (
        <SmartImage
          source={authorImage}
          alt={authorName}
          width={100}
          height={100}
          class="author-image"
          data-prop-src="authorImage"
          data-prop-alt="authorName"
          data-editable="image"
        />
      )
    }
    <cite class="author-content">
      <strong class="name">
        {authorName}
      </strong>
      {
        authorDescription && (
          <>
            <br />
            <span class="description">{authorDescription}</span>
          </>
        )
      }
    </cite>
  </div>
</blockquote>
